

@page { size: A4 portrait; }

 .Page-Wrapper #logo-print{

    display:block;


    background-color:#03213B;
    margin: 0 auto 2em;
width:88%;
    overflow:hidden;

}

 #logo-print p span{
     display:block;

     color:#03213B;
     font-weight:600;

 }

   #logo-print img{
       display:block;
       float:left;

   }
  #logo-print p {

     color:#333;
     float:left;
     margin-left:1.5em;

 }

#PostsDestacados {
    display: none;
}


.Content-Wrapper {
    float: none;
    margin: 1em auto 1em;
    width: 80%;
}

.lista-categorias {
    display: none;
}


#header-wrapper{

    display:none;

}


#PostPager {
    display: none;

}


#footer-wrapper {

    display:none;

}

.Container{

    box-shadow:0px 0px 0px;
}


.Widgets-Wrapper{

    display:none;
}


.post .PostTitle a{

    font-size: 2em;
  
}



 
 .Page-Wrapper .PostBody ul li {

    list-style-type: disc;

}

 .commentForm{

     display:none;

 }